* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-text-color: #2B3674;
    --secondary-text-color: #4318FF;
    --background-color: #E9EDF2;
}
.container{
    max-width: 1440px;
}
.gender {
    display: flex;
    gap: 30px;
}

.templates {
    display: flex;
    justify-content: space-around;
}
.about .pb-5{
    padding-bottom:  7rem !important;
}
.cards{
    display: flex;
    gap: 20px;
}
