@media(max-width:1290px){
    .cards{
        flex-direction: column;
    }
}
@media(max-width:700px){
    .colors{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:600px){
    .username{
        display: flex;
        flex-direction: column;
    }
    .personal-details .row{
        display: flex;
        flex-direction: column;
    }
    .advanced-details {
        display: flex;
        flex-direction: column;   
    }
    .col{
        padding-top: 12px;
    }
    .about .pb-5{
        padding-bottom:  6rem !important;
    }
    .pt-4{
        padding-top: 0rem !important;
    }
    
}
@media(max-width:370px){
    .templates{
        flex-direction: column;
    }
}